# Application
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# PostgreSQL Database
DATABASE_URL=postgresql://postgres:example@localhost:5432/order_system_db?schema=public

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redispassword

# OpenTelemetry / Jaeger (UI: http://localhost:16686)
OTEL_ENABLED=true
OTEL_SERVICE_NAME=event-driven-order-system
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:14318/v1/traces